html {
    width: 100%;
}


body {
    font-family: 'Orbitron', sans-serif;
    font-size: 60%;
    margin: 20px;
    padding-top: 120px;
}

h1.header {

	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 30px;
	background-color: white;
	text-align: center;
	z-index: 3;

}

nav.navbar {

	position: fixed;
	width: 100%;
	top: 80px;
	left: 0;
	background-color: black;
	z-index: 3;


}

ul.nav_list {
	position: absolute;
	padding: 0;
	margin: 0;
	padding-left: 30px;
	list-style-type: none;
}

nav li {
	position: relative;
	display: inline-block;
	float: left;
	line-height: 36px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 150%;
	vertical-align: middle;
	

}

a {
	color: grey;
}

nav li:hover, a:hover {
	background-color: #F5F3EE;
	color: black;
}

li#btnMyProfile, li#btnSignout {
	display: none;
}

button#signin, input#namefield, input#passwordfield {
    display: inline-block;
	margin: 10px;
	position: relative;
	float: right;
}


section#feedback {
	text-align: center;
}

textarea {
	width: 600px;
	height: 200px;
}

input#signupname, input#signuppassword, input#signupconfirm {

	display: inline-block;
	position: relative;
	margin: 10px;
	padding: 8px;
	width: 700px;
	border: thin solid grey;
	text-align: left;

}

button#sign {
	margin: 20px;
	padding: 15px;
	width: 200px;
	margin-left: 540px;
	text-align: center;
}

form.signupform {
	margin: 100px;
	margin-top: 50px;
}
label.label {
	position: relative;
	display: inline-block;
	width: 280px;
	font-size: 200%;
	padding: 20px;
	text-align: right;
}
footer {
	
}





@media screen and (max-width: 1080px) {

	nav ul li {
		font-size: 100%;
	}

	button#sign {
		width: 160px;
		margin-left: 370px;
	}

	input#signupname, input#signuppassword, input#signupconfirm {
		width: 500px;
	}

	form.signupform {
		margin: 100px;
		margin-top: 50px;
	}

	label.label {
		width: 150px;
		font-size: 150%;
	}

}


@media screen and (max-width: 768px) {

	nav ul li {
		font-size: 80%;
	}
}


