html {
    width: 100%;
}


body {
    font-family: 'Orbitron', sans-serif;
    font-size: 60%;
    margin: 20px;
}

h1.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 30px;
	background-color: white;
	text-align: center;

}

nav.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: black;
	
}

ul.nav_list {
	position: fixed;
	list-style-type: none;
}

li#home, li#nav {
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 150%;
	padding-left: 15px;

	color: white;
}

button#signin, input#namefield, input#passwordfield {
	margin: 10px;
	position: relative;
	float: right;
}

section#home {
	padding-top:100px; 
}

a {
	color: grey;
}