html {
    width: 100%;
}


body {
    font-family: 'Orbitron', sans-serif;
    font-size: 60%;
    margin: 20px;
}

h1.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 30px;
	background-color: white;
	text-align: center;

}

nav.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	margin-top: 50px;
	margin-bottom: 20px;
	background-color: black;

}

ul.nav_list {
	position: fixed;
	list-style-type: none;
}

nav ul li {
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 150%;
	padding-left: 15px;

	color: white;
}

li#btnMyProfile, li#btnSignout {
	display: none;
}
button#signin, input#namefield, input#passwordfield {
    display: inline-block;
	margin: 10px;
	position: relative;
	float: right;
}

section#home {
	padding-top:100px;
}

a {
	color: grey;
}

@media screen and (max-width: 1080px) {

	nav ul li {
		font-size: 120%;
	}


}
