<!DOCTYPE html>
<html>
    <head>
        <!-- Basic -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" /> <!-- Meta -->

        <script src="scripts/script.js" type="text/javascript" charset="utf-8" defer></script> <!-- JavaScript -->
        <link href="css/style.css" rel="stylesheet" type="text/css">

        <!-- <link rel="shortcut icon" href="../img/favicon.png" />  -->
        <!-- Favicon -->

        <!-- Advanced -->
        <!-- JQuery -->
        <script src="scripts/jquery-2.2.4.min.js" type="text/javascript"></script>
        <!-- JQuery UI -->
        <!-- <link href="../jquery-ui/css/jquery-ui.css" type="text/css" rel="stylesheet">
        <script src="../jquery-ui/scripts/jquery-ui.min.js" type="text/javascript" defer></script> -->

        <!-- Title -->
        <title>UofT Exchange</title>
    </head>

    <body>
        <h1 class="header">UofT Exchange</h1>

        <nav class="navbar">
            <ul class="nav_list">
                <li id="btnHome"><a href="#">Home</a></li>
                <li id="btnSignup"><a href="#">Sign Up</a></li>

                <li id="btnSignout"><a href="#">Sign Out</a></li>
                <li id="btnMyProfile"><a href="#">My Profile</a></li>
                <li id="btnSearch"><a href="#">Search Item</a></li>
                <li id="btnExchangeCourse"><a href="#">Exchange Course</a></li>
                <li id="btnHelp"><a href="#">Help</a></li>
                <li id="btnFeedback"><a href="#">Feedback</a></li>
            </ul>
            <button id="signin">Sign In</button>
            <input type="password" name="password" placeholder="Password" id="passwordfield">
            <input type="text" name="username" placeholder="Username" id="namefield">



        </nav>

        <section id="home">
            <h2>A platform to search your textbook</h2>
            <h3>Convenient, fast, cheap and refundable.</h3>
            <h3>You can almost always find the textbook you want here.</h3>
            <h3>You can exchange textbooks you don't want with people around you.</h3>
            <h3>You can always find the people who want to buy your textbook.</h3>
            <h3>You can search by the textbook name, author, publisher, ISBN, etc.</h3>
            <h3>If you cannot find one, we can find one for you.</h3>

            <article id="introduction">
                Find the textbook by the filter and just click "Search!", you can find all the corresponding results.
            </article>
        </section>

        <section id="search">
            <form action="/signup" method="post" class="searchform">
               <label class="label">Bookname: </label>
                <input type="text" name="bookname" placeholder="Book Name" id="bookname" pattern="[a-z]{4}"><br>
                <label class="label">Author: </label>
                <input type="text" name="author" placeholder="Author" id="author"><br>
                <label class="label">Publisher: </label>
                <input type="text" name="publisher" placeholder="Publisher" id="publisher"><br>
                <label class="label">ISBN: </label>
                <input type="text" name="ISBN" placeholder="ISBN" id="isbn" pattern="\d{13}"><br>
                <label class="label">Course: </label>
                <input type="text" name="course" placeholder="course" id="course"><br>
                <button id="search">Search!</button>
            </form>
        </section>

        <section id="recommend">
            <h2>Recommended Items</h2>
        </section>

        <section id="help">
            <h2>Help</h2>
        </section>

        <section id="signup">
            <form action="/signup" method="post" class="signupform">
                <label class="label">Username
                <input type="text" name="uname" required="true" placeholder="username" id="signupname">
                <span class="error"><%- errors.error_uname %></span>
                </label>
                <br>
                <label class="label">Password
                <input type="password" name="pword" required="true" placeholder="password" id="signuppassword">
                <span class="error"><%- errors.error_pword %></span>
                </label>
                <br>
                <label class="label">Confirm Password
                <input type="password" name="confirm" required="true" placeholder="confirm password" id="signupconfirm">
                <span class="error"></span>
                </label>
                <br>
                <button id="sign" type="submit" value="Submit">Sign Up</button>
            </form>
        </section>


        <section id="exchangecourse">
            <form action="/signup" method="post" class="courseexchangeform">
                <label class="label">Department</label>
                <input type="text" name="department" required="true" placeholder="Department" id="department"><br>
                <label class="label">Course Code</label>
                <input type="text" name="code" required="true" placeholder="Course Code" id="code"><br>
                <label class="label">Section</label>
                <input type="text" name="section" required="true" placeholder="Section" id="section"> <br>
                <button id="searchCourse">Search Course</button>
            </form>
        </section>

        <section id="feedback">
            <textarea name="feedbackTextarea" rows="8" cols="40"></textarea>
            <br/><br/>
            <button type="button" name="feedbackSubmit" id="feedbackSubmit">Submit</button>
        </section>

        <hr/>

        <footer id="footer">
            <h4>Contact Us</h4>
            <dl>
                <h3>
                    Designed By:
                </h3>
                <dt>Chengjie Liang</dt>
                <dd>chengjie.liang[at]mail.utoronto.ca</dd>
                <dt>Ruoshui Yan</dt>
                <dd>ryan.yan[at]mail.utoronto.ca</dd>
                <dt>Wen Hao Zhang</dt>
                <dd>wh.zhang@mail.utoronto.ca</dd>
                <dd></dd>
                <dt>Rio Yue Li</dt>
                <dd></dd>
                <p>
                    Copyright &copy; 2016. All Rights Reserved.
                </p>
            </dl>
        </footer>
    </body>

</html>
