{% extends "base.html" %}

{% block body %}
<div id="profile">
    {% if not session.username %}
    <div id="unSignedIn">
        <ul>
            <li id="btn-signup"> Sign Up</li>
        </ul>

        <form action="/signin" id="signin" method="post">
            <label>
                <input type="email" name="mail" placeholder="Email"><br>
                <span class="error">{{ errors.error_mail }}</span>
            </label>
                <br>
            <label>
                <input type="password" name="password" placeholder="Password" pattern="^[a-zA-Z0-9]{8,32}$"><br>
                <span class="error"> {{ errors.error_password }}</span>
            </label>
                <br>
            <label>
                <input type="date" name="dob" placeholder="birthday"><br>
                <span class="error"> {{ errors.error_birthday }}</span>
            </label>
            <br><button>Sign In</button>
            <!-- Google Login -->
            <!-- <br><br><div class="g-signin2" data-onsuccess="onSignIn"></div> -->
        </form>
    </div>
    {% else %}
    <div id="alreadySignedIn">
        <h2 id="greeting"></h2>
        <br><br><button type="button" name="profile" id="btn-profile">Profile</button>
        {% if not session.is_admin %}
        {% else %}
            <br><br><button type="button" name="changeuser" id="btn-add">Change Users Info</button>
        {% endif %}
        <br><br><button type="button" name="add" id="btn-add">Add Books/Courses</button>
        <br><br><button type="button" name="message" id="btn-message">Message</button>
        <br><br><button type="button" name="sendmessage" id="btn-send">Send Message</button>
        <br><br><button type="button" name="follow" id="btn-follow">Follow Friends</button>
        <br><br><button type="button" name="follows" id="btn-follows">Follower/Following</button>
        <br><br><a href="/signout" >Sign out</a>
    </div>
    {% endif %}


{% endblock %}
