{% extends "base.html" %}

{% block body %}
<div id="profile">
    {% if not session.username %}
    <div id="unSignedIn">
        <ul>
            <li id="btn-signup"> Sign Up</li>
        </ul>

        <form action="/signin" id="signin" method="post">
            <label>
                <input type="email" name="mail" placeholder="Email"><br>
                <span class="error">{{ errors.error_mail }}</span>
            </label>
                <br>
            <label>
                <input type="password" name="password" placeholder="Password" pattern="^[a-zA-Z0-9]{8,32}$"><br>
                <span class="error"> {{ errors.error_password }}</span>
            </label>
                <br>
            <label>
                <input type="date" name="dob" placeholder="birthday"><br>
                <span class="error"> {{ errors.error_birthday }}</span>
            </label>
            <br><button>Sign In</button>
        </form>
    </div>
    {% else %}
    <div id="alreadySignedIn">
        <h4 id="greeting">Hi, <br> {{session.username}}</h4>
        <ul id="feature_list">
        <li type="button" name="profile" id="btn-profile">Profile</li>
        <br><li type="button" name="add" id="btn-add">Add Books/Courses</li>
        <br><li type="button" name="message" id="btn-message">My Message</li>
        <br><li type="button" name="sendmessage" id="btn-send">Send Message</li>
        <br><li type="button" name="follow" id="btn-follow">Follow Friends</li>
        <br><li type="button" name="follows" id="btn-follows">Follower/Following</li>
        {% if not session.is_admin %}
        {% else %}
            <br><li type="button" name="changeuser" id="btn-changeUser">Change Users Info</li>
            <br><li type="button" name="viewfeedback" id="btn-veiwFeedback">View Feedback</li>
        {% endif %}
        <br><a href="/signout" >Sign out</a>
    </ul>
    </div>
    {% endif %}


{% endblock %}
