{% extends "base.html" %}

{% block body %}
<div id="profile">
    {% if not session.username %}
    <div id="unSignedIn">
        <ul>
            <li id="btn-signup"> Sign Up</li>
        </ul>

        <form action="/signin" id="signin" method="post">
            <label>
                <input type="email" name="email" placeholder="Email"><br>
                <span class="error">{{ errors.error_email }}</span>
            </label>
                <br>
            <label>
                <input type="password" name="password" placeholder="Password" pattern="^[a-zA-Z0-9]{8,32}$"><br>
                <span class="error"> {{ errors.error_password }}</span>
            </label>
            <br><button>Sign In</button>
            <!-- Google Login -->
            <br><br><div class="g-signin2" data-onsuccess="onSignIn"></div>
        </form>
    </div>
    {% else %}
    <div id="alreadySignedIn">
        <h2 id="greeting"></h2>
        <br><br><button type="button" name="profile" id="btn-profile">Profile</button>
        <br><br><button type="button" name="message" id="btn-message">Message</button>
        <br><br><button type="button" name="following" id="btn-following">Following</button>
        <br><br><button type="button" name="follower" id="btn-follower">Follower</button>
        <br><br><a href="#" onclick="signOut();">Sign out</a>
    </div>
    {% endif %}

</div>

        <section id="home" class="menu-item">

            <p>A platform to search your textbook</p>
            <p>Convenient, fast, cheap and refundable.</p>
            <p>You can almost always find the textbook you want here.</p>
            <p>You can exchange textbooks you don't want with people around you.</p>
            <p>You can always find the people who want to buy your textbook.</p>
            <p>You can search by the textbook name, author, publisher, ISBN, etc.</p>
            <p>If you cannot find one, we can find one for you.</p>

            <article id="introduction">
                Find the textbook by the filter and just click "Search!", you can find all the corresponding results.
            </article>
        </section>

        <section id="search-books" class="menu-item">
            <h2>Search Books</h2>
            <form action="/search_books" method="get">
               <label class="label">Title: </label>
                <input type="text" name="title" placeholder="Title" id="title" pattern="[a-z]{4}"><br>
                <label class="label">Author: </label>
                <input type="text" name="author" placeholder="Author" id="author"><br>
                <label class="label">Publisher: </label>
                <input type="text" name="publisher" placeholder="Publisher" id="publisher"><br>
                <label class="label">ISBN: </label>
                <input type="text" name="ISBN" placeholder="ISBN" id="isbn" pattern="\d{13}"><br>
                <label class="label">Course: </label>
                <input type="text" name="course" placeholder="Course" id="course"><br>
                <button id="search-book">Search!</button>
            </form>
        </section>

         <section id="search-courses" class="menu-item">
            <h2>Search Courses</h2>
            <form action="/search_courses" method="get">
                <label class="label">Department: </label>
                <input type="text" name="department" required="true" placeholder="Department" id="department"><br>
                <label class="label">Course Code: </label>
                <input type="text" name="code" required="true" placeholder="Course Code" id="code"><br>
                <label class="label">Section: </label>
                <input type="text" name="section" placeholder="Section" id="section"> <br>
                <button id="search-course">Search Course</button>
            </form>
        </section>

        <section id="feedback" class="menu-item">
            <h2>Feedback</h2>
            <form>
                <textarea name="feedback" rows="15" cols="79"></textarea>
                <br>
                <button type="button" name="feedback-submit" id="feedback-submit">Submit</button>
            </form>
        </section>

        <section id="contact" class="menu-item">
            <h2>Contact Us</h2>
            <dl>
                <dt>Chengjie Liang</dt>
                <dd>chengjie.liang[at]mail.utoronto.ca</dd>
                <dt>Ruoshui Yan</dt>
                <dd>ryan.yan[at]mail.utoronto.ca</dd>
                <dt>Wen Hao Zhang</dt>
                <dd>wh.zhang[at]mail.utoronto.ca</dd>
                <dd></dd>
                <dt>Rio Yue Li</dt>
                <dd></dd>
            </dl>
        </section>

        <section id="signup">
            <h2>Sign Up</h2>
            <form action="/signup" method="post" class="signupform">
                <label class="label">Email:
                    <input type="email" name="email" required="true" placeholder="Email" id="signupemail"><br>
                    <span class="error">{{ errors.error_email }}</span>
                </label><br>
                <label class="label">Password:
                    <input type="password" name="pword" required="true" placeholder="Password" id="signupword" pattern="^[a-zA-Z0-9]{8,32}$"><br>
                    <span class="error">{{ errors.error_pword }}</span>
                </label><br>
                <label class="label">Confirm Password:
                    <input type="password" name="confirm" required="true" placeholder="Confirm Password" id="signupconfirm"> <br>
                    <span class="error">{{ errors.error_confirm }}</span>

                </label><br>
                <button id="submit-sign-up">Sign Up</button>
            </form>
        </section>
        <section id="userProfile">
            <p id="email"></p>
            <p id="phone"></p>
            <p id="year_of_study"></p>
            <p id="major"></p>
            <p id="is_admin"></p>
        </section>
        <section id="message">
        </section>
        <section id="following">
        </section>
        <section id="follower">
        </section>

        <footer>
            <small>Copyright &copy; 2016. All Rights Reserved.</small>
        </footer>
{% endblock %}
