h1#title {
	font-family: 'Orbitron', sans-serif;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 30pt;
	text-align: center;
	padding-top: 10px;
}

nav#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
}

nav#navbar ul li {
	font-family: 'Orbitron', sans-serif;
	display: inline-block;
	padding: 15px;
	color: white;

}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

nav#navbar ul li:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

nav#navbar ul li#btn-home {
	margin-left: 18.75%;
}

div#profile {
	float: left;
	margin-left: 35px;
	padding-top: 20px;
}

div#profile ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#profile ul li#btn-signup{
	font-family: 'Orbitron', sans-serif;
	display: block;
	text-align: center;
	padding: 15px;
	background-color: Gold;
	border-radius: 12px;
	font-weight: bolder;
	cursor: pointer;
}

div#profile form#signin {
	padding-top: 20px;
}

div#profile form#signin input {
	margin: 10px;
	padding: 10px;
}

div#profile form#signin button {
	margin: 10px;
	padding: 10px;
}

section.menu-item, section#signup{
	font-family: 'Orbitron', sans-serif;
	margin-left: 20%;
	padding-left: 20px;
	display: block;
	border-left: solid;
	border-width: 1px;
}

footer {
	margin-top: 15px;
	border-top: solid;
	border-width: 1px;
}

section.menu-item h2, section#signup h2{
	padding: 10px;
}

section.menu-item form, section#signup form{
	padding-left: 10px;
}

section.menu-item form input, section#signup form input{
	margin: 10px;
	padding: 10px;
	width: 50%;
}

section.menu-item form button, section#signup form button{
	margin-top: 25px;
	margin-left: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

section#contact h2 {
	padding-bottom: 0;
}
section#contact dl {
	margin: 10px;
}

section#contact dt {
	font-weight: bold;
	padding-top: 15px;
}

section#contact dd {
	font-style: italic;
}

@media screen and (max-width: 1024px) {
	div#profile {
		margin-left: 20px;
	}
}

@media screen and (max-width: 768px) {
	section.menu-item, section#signup {
		margin-left: 30%;
	}

	section textarea {
		width: 90%;
	}
}

@media screen and (max-width: 480px) {
	nav#navbar ul li#btn-home {
		margin-left: 0;
	}

	nav#navbar ul li {
		padding-left: 33px;
		padding-right: 33px;
	}

	nav#navbar ul li#btn-feedback {
		margin-left: 75px;
	}

	div#profile {
		float: none;
	}

	section.menu-item, section#signup {
		margin-left: 0;
		border-left: none;
		border-top: solid;
		border-width: 1px;
	}

	div#profile ul li#btn-signup {
		margin-right: 4%;
	}

	div#profile form#signin input {
		width: 85%;
	}

	div#profile form#signin button {
		margin-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: 35%;
	}

}

@media screen and (max-width: 320px) {
	nav#navbar ul li {
		display: block;
		text-align: center;
	}

	nav#navbar ul li#btn-feedback {
		margin-left: 0;
	}

	div#profile form#signin button {
		margin-left: 30%;
	}
}


