h1#title {
	font-family: 'Baloo Paaji', cursive;
	margin: 0;
	padding: 20px;
	font-size: 30pt;
	background-color: #003B6F;
	color: #FEFAF9;
	text-align: center;
	top: 0;
}

body {
	margin: 0;
}
h4#greeting {
	margin: 0;
	padding: 5px;
}

nav#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
}

nav#navbar ul li {
	font-family: 'Inconsolata', monospace;
	display: inline-block;
	padding: 15px;
	color: white;

}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

nav#navbar ul li:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}



nav#navbar ul li#btn-home {
	margin-left: 18.75%;
}

div#profile {
	float: left;
	margin-left: 25px;
	padding-top: 10px;
}

div#profile ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#profile ul li#btn-signup{
	font-family: 'Orbitron', sans-serif;
	display: block;
	text-align: center;
	padding: 12px;
	background-color: Gold;
	border-radius: 12px;
	font-weight: bolder;
	cursor: pointer;
}

div#alreadySignedIn ul#feature_list li{
	font-family: 'Orbitron', sans-serif;
	display: block;
	text-align: center;
	padding: 5px;
	background-color: #FF6600;
	border-radius: 12px;
	font-size: 70%
	font-weight: bolder;
	cursor: pointer;
}

div#profile form#signin {
	padding-top: 20px;
}

div#profile form#signin input {
	margin: 10px;
	padding: 10px;
}

/*div#profile button {
	margin: 10px;
	padding: 10px;
}*/

button#btn-signin {
	background-color: #25BD9A;
	border: 0;
	color: white;
	padding: 15px;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 12px;
	margin-left: 20px;
}

section.menu-item, section.logged-in-menu-item, section#signup{
	font-family: 'Orbitron', sans-serif;
	margin-left: 20%;
	padding-left: 20px;
	display: block;
	border-left: solid;
	border-width: 1px;
}

section.menu-item, section.logged-in-menu-item {
	min-height: 400px;
}

footer {
	margin-top: 15px;
	border-top: solid;
	border-width: 1px;
}

section.menu-item  h2, section#signup h2, , section.logged-in-menu-item h2{
	padding: 10px;
}

section.menu-item form, section#signup form, section.logged-in-menu-item form{
	padding-left: 10px;
}

section.menu-item form input, section#signup form input, section.logged-in-menu-item form input{
	margin: 10px;
	padding: 10px;
	width: 50%;
}

section.menu-item form button, section#signup form button, section.logged-in-menu-item  form button, #getUserProfile{
	margin-top: 25px;
	margin-left: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

section#contact h2 {
	padding-bottom: 0;
}
section#contact dl {
	margin: 10px;
}

section#contact dt {
	font-weight: bold;
	padding-top: 15px;
}

section#contact dd {
	font-style: italic;
}

span.error {
	color: red;
	font-size: 60%;
	padding-left: 20px;
}

p.msg {
	color: green;
	top: 0;
	left: 0;
	border: solid;
	border-width:  1px;
	background-color: lightgreen;
	display: block;
	text-align: center;
	font-family: sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

p.errmsg {
	color: white;
	top: 0;
	left: 0;
	border: solid;
	border-width:  1px;
	background-color: red;
	display: block;
	text-align: center;
	font-family: sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}


section textarea {
	width: 100%;

}

textarea#msgbox {
	margin: 30px;
	height: 150px;
	width: 75%;
	display: inline-block;
	border: solid black thin;
}

button#submitmsg {
	display: inline-block;
	top: 0;
	background-color: #25BD9A;
	border: 0;
	color: white;
	padding: 15px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 75px;
	padding-bottom: 75px;
	border-radius: 12px;
	margin-left: 10px;
	margin-right: 20px;
	float: right;

}

h2.sectiontitle
.queries {
	padding-left: 20px;
}

h2#mymessagetitle, h2#sendmsgtitle, h2#folloringtitle, h2#follorertitle{
	margin-left: 400px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 15px;
}

p.msgwindows {
	margin-left: 20px;
	margin-right: 20px;
	border: 3px;
	border-style: dotted;
	border-color: rgb(39, 72, 98);

}

div.msgwrapper {
	background-color: rgb(39, 72, 98);
	margin-top: 0;
	margin-bottom: 0;
	padding: 8px;
}

h3.sender {
	display: inline-block;
	font-size: 90%;
	margin: 0;
	color:#DCECF5;
}

h4.sendtime {
	display: inline-block;
	float: right;
	font-size: 90%;
	margin: 0;
	color:#DCECF5;
}

h4.message {
	margin: 0;
	padding: 15px;
	font-size: 90%;
}

form#sendmsgform {
	margin-left: 20px;
	margin-right: 20px;
	padding: 0;
	border: 3px;
	border-style: dotted;
	border-color: rgb(39, 72, 98);
}

lable#sendmsglabel {
	display: block;
	background-color: rgb(39, 72, 98);
	margin-top: 0;
	margin-bottom: 0;

	padding: 8px;
	padding-left: 200px;
	color:#DCECF5;
}


div#user_wrapper {
	border: thin grey solid;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 10px;
	margin-bottom: 20px; 
	margin-right: 30px;
	-moz-box-shadow: 5px 5px 2px #000000;
	-webkit-box-shadow: 5px 5px 2px #000000;
	box-shadow: 5px 5px 2px #000000;
}

img#user_avatar {
	margin: 8px;
	border: thin solid black;
}
span#username {
	padding: 15px;
	padding-top: 10px;
	padding-left: 8px;
	display: inline-block;
	vertical-align: top;
	font-family: 'Inconsolata', monospace;
}

button#startchat {
	float: right;
	display: inline-block;
	top: 0;
	background-color: #25BD9A;
	border: 0;
	color: white;
	padding: 15px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 12px;
	margin: 10px;
	margin-right: 40px;
	font-size: 80%;

}

article#chatwindow {
	background-color: grey;
	position: absolute;
	width: 300px;
	height: 400px;
	bottom: 0;
	right: 20px;
}

ul#livechat_msg {
	list-style-type: none;

	margin: 0;
	margin-top: 30px;
	padding: 0; 
}

#livechat_msg li { 
	padding: 5px 10px; 
}

#livechat_msg li:nth-child(odd) { 
	background: #eee; 
}

img#closewindow {
	float: right;
}

form#chat_form {
	bottom: 0;
	background: black;
	position: fixed;
	width: 300px;
}

input#input_bar {
	border: thin solid black;
	padding: 10px; 
	width: 210px; 
	margin-right: .5%;
}

button#submit_livechat {
	width: 60px; 
	float: right;
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px;
	width: 60px;
	height: 32px;
}


@media screen and (max-width: 1024px) {
	div#profile {
		margin-left: 20px;
	}
}

@media screen and (max-width: 768px) {
	section.menu-item, section.logged-in-menu-item, section#signup {
		margin-left: 30%;
	}

	section textarea {
		width: 90%;
	}
}

@media screen and (max-width: 480px) {
	nav#navbar ul li#btn-home {
		margin-left: 0;
	}

	nav#navbar ul li {
		padding-left: 33px;
		padding-right: 33px;
	}

	nav#navbar ul li#btn-feedback {
		margin-left: 75px;
	}

	div#profile {
		float: none;
	}

	section.menu-item, section.logged-in-menu-item, section#signup {
		margin-left: 0;
		border-left: none;
		border-top: solid;
		border-width: 1px;
	}

	div#profile ul li#btn-signup {
		margin-right: 4%;
	}

	div#profile form#signin input {
		width: 85%;
	}

	div#profile form#signin button {
		margin-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: 35%;
	}

}

@media screen and (max-width: 320px) {
	nav#navbar ul li {
		display: block;
		text-align: center;
	}

	nav#navbar ul li#btn-feedback {
		margin-left: 0;
	}

	div#profile form#signin button {
		margin-left: 30%;
	}
}

div#gallery {
	margin-top: 20px;
}

/* Using Week7 Lab6 */
/* Start of slider */
div#gallery ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 325px;
}

div#gallery ul li {
    position: absolute;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 250px;
    height: 325px;
}

div#gallery ul li.hidden {
    display: none;
}
div#gallery ul li.showcase {
    width: 500px;
}
div#gallery ul li img {
    margin: 5px;
    width: 100%;
}
